/*  Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* Fonts */
:root,
[data-mode="light"] {
  --button-bg: #000;
  --bg-secondary: #fff;
  --button-color: #fff;
  --primary-color: #000;
  --secondary-color: #fff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --button-bg: #fff;
    --button-color: #000;
    --primary-color: #fff;
    --bg-secondary: #373737;
    --secondary-color: #000;
  }
}
[data-mode="dark"] {
  --button-bg: #fff;
  --button-color: #000;
  --primary-color: #fff;
  --bg-secondary: #373737;
  --secondary-color: #000;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent !important;
}
body {
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 150px;
  background-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}
.pixel-bg {
  mask-image: linear-gradient(to bottom, transparent, black);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black);
  background-image: url("./public/pixel.svg");
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 2%,
    rgba(154, 183, 248, 1) 24%,
    rgba(242, 180, 255, 1) 49%,
    rgba(198, 202, 255, 1) 71%,
    rgba(255, 255, 255, 1) 93%
  );
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  filter: blur(100px);
  z-index: -1;
}
.logo {
  font-size: 22px;
  color: var(--primary-color);
}
header {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions_wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}
.toggle_btn {
  width: 40px;
  height: 20px;
  display: block;
  background: var(--button-bg);
  border-radius: 20px;
  position: relative;
  border: solid 2px var(--button-bg);
  overflow: hidden;
}
.toggle_btn input[type="radio"] {
  display: none;
}
.history_toggle_container {
  position: relative;
}
.history {
  position: absolute;
  background: var(--button-bg);
  color: var(--button-color);
  min-width: 200px;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 102%);
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 6px;
  display: none;
  z-index: 100;
}
.history_toggle_container:hover .history {
  display: block;
}
.history_toggle_container::before {
  content: "";
  background-color: var(--button-bg);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 100%) rotate(45deg);
  width: 14px;
  border-radius: 4px;
  height: 14px;
  display: none;
}
.history_toggle_container:hover:before {
  display: block;
}
.history_toggle {
  border: none;
  background-color: transparent;
  display: flex;
  cursor: pointer;
}
.history_toggle svg {
  width: 30px;
  height: 30px;
  fill: var(--button-bg);
}
.history ul {
  list-style-type: none;
  margin-top: 10px;
}
.history ul li {
  padding: 4px 0px;
  font-size: 14px;
  border-bottom: solid 1px var(--bg-secondary);
  cursor: pointer;
}
.history_content p {
  font-size: 14px;
}
input[value="light"]:checked label[for="light"] {
  transform: translateX(100%);
}
label[for="light"] {
  width: auto;
  height: 100%;
  border-radius: 1000px;
  position: absolute;
  background-color: #000;
  aspect-ratio: 1/1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
label[for="dark"] {
  width: auto;
  height: 100%;
  border-radius: 1000px;
  position: absolute;
  background-color: #fff;
  aspect-ratio: 1/1;
  right: 0px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.section__form {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}
.section__form form {
  display: flex;
  gap: 10px;
}
.input-wrap {
  display: flex;
  align-items: center;
  background-color: var(--bg-secondary);
  color: var(--button-bg);
  padding: 10px 20px;
  gap: 10px;
  border-radius: 4px;
  position: relative;
}
.input-wrap [data-role="clear-search"] {
  position: absolute;
  right: 2%;
  cursor: pointer;
  display: none;
}
.input-wrap [data-role="clear-search"].active {
  display: block;
}
.input-wrap input {
  color: var(--button-bg);
}
.loader path {
  fill: var(--button-color);
}
.section__form form button {
  background: #000;
  color: #fff;
  padding: 10px 16px;
  border-radius: 4px;
  border: none;
}
.error_box {
  flex: 0 0 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 10px;
  color: red;
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-left: auto;
  display: none;
}
.error_box.error {
  display: flex;
}
.input-wrap span {
  display: flex;
}
.input-wrap svg {
  width: 20px;
  height: 20px;
}
.input-wrap input {
  border: none;
  background-color: transparent;
  outline: none;
  min-width: 400px;
}
.map__container {
  display: none;
  justify-content: center;
}
.map__container.active {
  display: flex;
}
#map {
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  width: 575px;
}
.info_overlay {
  display: none;
}
.info_overlay_container {
  padding: 24px 30px;
  background: #fff;
  margin: 20px auto;
  width: max-content;
  border-radius: 6px;
}
.info_overlay_header {
  display: grid;
  justify-content: space-between;
  margin-bottom: 24px;
  grid-template-columns: auto 1fr;
  gap: 20px;
}
.info_overlay_header h3 {
  font-weight: 500;
  font-size: 16px;
}
.ino_toggle {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  transform: translateX(10px);
}
.ino_toggle svg {
  width: 20px;
  height: 20px;
}
.info_container ul {
  list-style-type: none;
}
.info_container ul li {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  margin-bottom: 14px;
  align-items: center;
  gap: 14px;
}
.info_container ul li p:first-of-type {
  font-weight: 600;
  color: #5046e5;
}
.info_container ul li p:last-of-type {
  font-size: 13px;
}
.section__form button[type="submit"] {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-color);
}
.section__form button[type="submit"] .loader {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--button-bg);
  color: var(--button-color);
  display: none;
  justify-content: center;
  align-items: center;
}
.section__form button[type="submit"] .loader svg {
  width: 40px;
  height: 40px;
}
.section__form.loading button[type="submit"] .loader {
  display: flex;
}
/* media query */
@media (max-width: 768px) {
  header {
    padding: 20px 40px;
  }
  .input-wrap input {
    min-width: 150px;
    max-width: 200px;
  }
  .section__form form button {
    font-size: 12px;
    padding: 10px;
  }
  .info_overlay {
    min-width: 300px;
  }
  #map {
    max-width: 300px;
  }
  .actions_wrapper .history_toggle_container .history {
    left: unset;
    right: -30%;
    display: none;
    transform: translateY(102%);
  }
  .actions_wrapper .history_toggle_container::before {
    display: none;
  }
  .actions_wrapper .history_toggle_container.active .history {
    display: block;
  }
  .actions_wrapper .history_toggle_container.active::before {
    display: block;
  }
}
[data-mode="dark"] .leaflet-layer,
[data-mode="dark"] .leaflet-control-zoom-in,
[data-mode="dark"] .leaflet-control-zoom-out,
[data-mode="dark"] .leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
